<%- include('includes/head'); %>
<%- include('includes/navBar'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-2">
      <h1 class="text-center">Agenda - Contato Fácil</h1>
      <p class="text-center lead">Seus contatos estão a um clique de distância</p>

      <div class="responsive-table">
        <table class="table">
          <tr class="text-center">
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Telefone</th>
            <th>E-mail</th>
          </tr>
          <tr class="text-center">
            <td>Moises</td>
            <td>Lopes</td>
            <td>9912345678</td>
            <td>contato@contato.com</td>
          </tr>







    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>