<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-2">

            <h1 class="display-5 text-center">
                Agenda
            </h1>
            <p class="text-center lead">
                Seus contatos sempre no mesmo lugar.
            </p>

            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">Mensagem de Erro!</div>
                </div>
            </div>

            <div class="responsive-table">
                <table class="table my-3">
                    <tr>
                        <td>Moises</td>
                        <td>Lopes</td>
                        <td>teste@teste.com</td>
                        <td>1234-5678</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>